.DialogContext {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 998;
}

.DialogElement {
  display: flex;
  background-color: #e0cfc2;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  border-color: transparent;
  border-width: 0px;
  padding: 20px 10px 0px 10px;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 3px;
}
