.Subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.Subtitle h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
