.Button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Button button {
  position: relative;
  overflow: hidden;
  width: 274px;
  height: 57px;
  -webkit-transition: background 400ms;
  transition: background 400ms;
  color: #fafafa;
  background: #753e45;
  padding: 7px 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  outline: 0;
  border: 0;
  border-radius: 50px;
  border-width: 0px;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.Button button {
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}
.Button button:hover {
  background: #753e45 radial-gradient(circle, transparent 1%, #753e45 1%)
    center/15000%;
}
.Button button:active {
  background-color: #a37e83;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}
