.ViewGroup {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #e8dfd8;
  height: 100%;
  overflow-y: auto;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.ViewGroup .Title h1 {
  width: 100%;
  text-align: center;
}
